<html>
    <head>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'api_prod/libs/three.js' %}"></script>
        <script type="text/javascript" src="{% static 'api_prod/libs/OBJLoader.js' %}"></script>
        <script type="text/javascript" src="{% static 'api_prod/libs/MTLLoader.js' %}"></script>
        <script type="text/javascript" src="{% static 'api_prod/libs/OBJMTLLoader.js' %}"></script>
    
        <script type="text/javascript" src="{% static 'api_prod/libs/stats.js' %}"></script>
        <script type="text/javascript" src="{% static 'api_prod/libs/dat.gui.js' %}"></script>
    </head>
    
    <body>
    
    <div id="Stats-output" style="display : none">
    </div>
    <!-- Div which will hold the Output -->
    <div id="WebGL-output">
    </div>
    
    <!-- Javascript code that runs our Three.js examples -->
    <script type="text/javascript">
    
        // once everything is loaded, we run our Three.js stuff.
        function init() {
    
            var stats = initStats();
    
            // create a scene, that will hold all our elements such as objects, cameras and lights.
            var scene = new THREE.Scene();
    
            // create a camera, which defines where we're looking at.
            var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 2000);
    
            // create a render and set the size
            var webGLRenderer = new THREE.WebGLRenderer();
            webGLRenderer.setClearColor(new THREE.Color(0xaaaaff, 1.0));
            webGLRenderer.setSize(window.innerWidth, window.innerHeight);
            webGLRenderer.shadowMapEnabled = true;
    
            // position and point the camera to the center of the scene
            camera.position.x = -400;
            camera.position.y = 300;
            camera.position.z = 800;
            // camera.lookAt(new THREE.Vector3(0, 50, 0));
    
    
            // add spotlight for the shadows
    
            var spotLight = new THREE.DirectionalLight(0xffffff);
            spotLight.position.set(400, 400, 1000);
            spotLight.intensity = 1;
            scene.add(spotLight);
    
            var spotLight2 = new THREE.DirectionalLight(0xffffff);
            spotLight2.position.set(-600, 400, 1000);
            spotLight2.intensity = 1;
            scene.add(spotLight2);
    
            // var light2 = new THREE.AmbientLight( 0x1c100a );
            // light2.intensity = 0;
            // scene.add( light2 );
    
            // add the output of the renderer to the html element
            document.getElementById("WebGL-output").appendChild(webGLRenderer.domElement);
    
            // call the render function
            var step = 0;
    
    
            // setup the control gui
            var controls = new function () {
                // we need the first child, since it's a multimaterial
    
    
            };
    
            var gui = new dat.GUI();
            var mesh;
    
         
    
            // position the cube
    
            // add the cube to the scene
            // scene.add(cube);
    
            var loader = new THREE.OBJLoader();
            loader.load("{% static 'api_prod/assets/models/' %}{{human.pk}}.obj"  , function (loadedMesh) {
                var material = new THREE.MeshLambertMaterial({color: 0x5C3A21});
                // loadedMesh is a group of meshes. For
                // each mesh set the material, and compute the information
                // three.js needs for rendering.
                loadedMesh.children.forEach(function (child) {
                    child.material = material;
                    // child.geometry.computeFaceNormals();
                    // child.geometry.mergeVertices()
                    // child.geometry.computeVertexNormals();
                });
                mesh = loadedMesh;
                loadedMesh.scale.set(40, 40, 40);
                scene.add(loadedMesh);
            });
    
    
            camera.lookAt(new THREE.Vector3(0, 50, 0));
    
    
            render();
    
    
            function render() {
                stats.update();
    
                if (mesh) {
                    mesh.rotation.y += 0.02;
                }
    
                // render using requestAnimationFrame
                requestAnimationFrame(render);
                webGLRenderer.render(scene, camera);
            }
    
            function initStats() {
    
                var stats = new Stats();
                stats.setMode(0); // 0: fps, 1: ms
    
    
                // Align top-left
                stats.domElement.style.position = 'absolute';
                stats.domElement.style.left = '0px';
                stats.domElement.style.top = '0px';
    
                document.getElementById("Stats-output").appendChild(stats.domElement);
    
                return stats;
            }
        }
        window.onload = init;
    </script>
    </body>
    </html>